.alert {
  @extend .font-family-accent;
  font-size: .875rem;
  line-height: 1.125rem;

  a,
  .alert-link {
    color: $cr-white;
    font-weight: normal;
    text-decoration: underline;
  }

  p {
    margin-bottom: 0;
  }
}