.btn-group-block {
  .btn {
    &.btn-option {
      &.btn-outline {
        &:hover {
          background: $cr-teal;
          border-color: $cr-teal;
          color: $cr-white;
        }

        .icon.check-circle {
          display: none;
        }

        &.active {
          .icon.check-circle {
            display: inline-block;
          }

          .icon.circle-thin {
            display: none;
          }
        }
      }
    }
  }

  .custom-input {
    display: flex;
    justify-content: flex-end;
    min-height: 2.75rem;
    overflow: hidden;

    .custom-input-icon {
      padding: 10px;
      color: $cr-gray-light;
    }

    .custom-input-field {
      flex-basis: calc(100% - 30px);
    }
  }
}

.btn-option {
  .row {
    .btn-group-label {
      margin-top: 2px;
    }

    .btn-group-icons {
      padding-right: .5rem;
      .icon {
        vertical-align: middle;
      }
    }
  }
}