.dropdown {
  display: inline-block;

  .dropdown-toggle.btn {
    padding: 14px 16px 12px;
    text-align: left;
    font-size: 14px;
    line-height: 1;

    &:focus {
      box-shadow: none;
    }

    .icon {
      margin-top: 2px;
      height: 14px;
    }
  }

  .crds-list {
    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
    }

    a {
      padding: .375rem .75rem;
      font-weight: 300;

      &.on {
        font-weight: 600;
      }
    }
  }
}
