.content-menu { 
  background-color: $cr-tan-light; 
  border: 1px solid $cr-gray-lighter; 
  height: 100%; 
  margin-left: 10px;
  padding: 10px 0px 20px; 
  position: relative; 
  top: 0px; 
}

.content-menu-link { 
  font-weight: 600px!important; 
  position: relative; 
  top: 28px; 
}

.content-menu-list { 
  padding: 20px 0px; 

  &:first-child { 
    position: absolute;
    top: 5px;
  }
}
  
.content-menu-title { 
  position: relative;
  top: 4px;
  padding-bottom: 10px;
}
