.content-menu { 
  background-color: $cr-tan-lighter; 
  border: 1px solid $cr-gray-lighter; 
  height: auto; 
  margin-left: 10px;
  padding-top: 10px; 

  .menu-link { 
    position: relative; 
    top: 4px; 
  }
  
  .menu-title { 
    position: relative;
    top: 4px;
  }
}