.shared-header,
.shared-header-skeleton {
  min-height: 50px;
  position: relative;
  z-index: 10;

  @supports (position: sticky) {
    position: sticky;
    top: 0;
  }

  @supports (position: -webkit-sticky) {
    position: -webkit-sticky;
    top: 0;
  }
}

.shared-header {
  background-color: transparent;
}

.shared-header-skeleton {
  background-color: $cr-blue;

  .shared-header-skeleton-logo {
    left: 50%;
    margin: 11px 0 0 -75px;
    position: absolute;
    right: 0;
  
    @media (min-width: $screen-sm) {
      margin: 7px 0 0 -93px;
    }

    svg {
      height: 24px;
      width: 149px;
  
      @media (min-width: $screen-sm) {
        height: 30px;
        width: 187px;
      }

      .logo-text {
        fill: $cr-tan;
      }
      
      .logo-mark {
        fill: $cr-orange;
      }
    }
  }
}

// --------------------------------------------------------

.snail-trail-skeleton {
  background-color: $cr-white;
  min-height: 43px;
  position: relative;
}

// --------------------------------------------------------

.shared-footer-skeleton {
  background-color: $cr-gray-lighter;
  min-height: 626px;
}

// --------------------------------------------------------

.crds-image-skeleton {
  animation: crdsImageSkeleton 2s infinite;
  padding-bottom: 66.6666666667%;
  
  &.loaded {
    animation: none;
    padding-bottom: 0;
  }
}

@keyframes crdsImageSkeleton {
  0% {
    background: rgba($cr-gray-lighter, 0.75);
  }
  
  25% {
    background: rgba($cr-gray-lighter, 0.5);
  }
  
  100% {
    background: rgba($cr-gray-lighter, 0.75);
  }
}

// --------------------------------------------------------

.portrait-card-skeleton {
  background-color: $cr-gray-lightest;
  height: 475px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::after {
    animation: skeleton-shimmer 1.5s ease-in-out infinite;
    background-image: linear-gradient(
      100deg,
      rgb($cr-gray-lightest) 20%,
      rgba($cr-white, 0.3) 30%,
      rgba($cr-white, 0.7) 40%,
      rgb($cr-gray-lightest) 50%
    );
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.portrait-card-skeleton-expanded,
.portrait-card-skeleton-condensed {
  background-color: $cr-gray-lightest;
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::after {
    animation: skeleton-shimmer 1.5s ease-in-out infinite;
    background-image: linear-gradient(
      100deg,
      rgb($cr-gray-lightest) 20%,
      rgba($cr-white, 0.3) 30%,
      rgba($cr-white, 0.7) 40%,
      rgb($cr-gray-lightest) 50%
    );
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@keyframes skeleton-shimmer {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
