/* stylelint-disable */

// Disabling CSS linting because these styles override an external library's CSS, meaning it's masocistic and nearly impossible to refactor to apply style rules *and* style the datepicker correctly.

.form-control[readonly] {
  background: $input-bg;

  .dark-theme & {
    background: lighten($cr-gray, 40);
  }
}

datepicker {
  $calendar-bg: $cr-white;
  $calendar-text: $cr-gray-darker;
  $calendar-border: $cr-gray-light;
  $calendar-active-bg: $cr-teal;
  $calendar-active-text: $cr-white;
  $calendar-active-border: $cr-teal;
  $calendar-disabled-bg: transparent;
  $calendar-disabled-text: lighten($cr-gray-light, 20);
  $calendar-hover-bg: $cr-gray-lighter;
  $calendar-hover-text: $cr-gray-darker;
  $calendar-hover-border: $cr-gray;

  display: none;

  &.visible {
    display: block;
  }

  thead {
    tr:last-child > th {
      padding-top: .5em;
    }
    th > .btn.btn-sm {
      font-size: .9rem;
    }
    .btn {
      &.btn-default {
        background: $calendar-bg;
        border-color: $calendar-bg;
        border-radius: 0;
        color: $calendar-text;
        width: 100%;

        &.pull-left {
          border-top-left-radius: $border-radius-base;
          border-bottom-left-radius: $border-radius-base;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.pull-right {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: $border-radius-base;
          border-bottom-right-radius: $border-radius-base;
        }

        &:active,
        &:focus {
          background: $cr-gray-light;
          border-color: $cr-gray-light;
          box-shadow: none;
          color: $calendar-text;

          &:focus {
            background: $cr-gray-light;
            border-color: $cr-gray-light;
            color: $calendar-text;
          }
        }

        &:hover {
          background: $calendar-hover-bg;
          border-color: $calendar-hover-bg;
          color: $calendar-text;
        }
      }
    }
  }

  .glyphicon {
    @extend .icon;
    @extend .icon-1;

    &.glyphicon-chevron-left {
      @extend .chevron-left;
    }
    &.glyphicon-chevron-right {
      @extend .chevron-right;
    }

    background-size: cover;
  }

  tbody {
    .btn {
      &.btn-default {
        background: transparent;
        border: none;
        color: $calendar-text;
        font-size: .9rem;

        &.disabled {
          background: $calendar-disabled-bg;

          &:active,
          &:focus {
            color: $calendar-text;

            &:hover {
              background: $calendar-hover-bg;
            }
          }

          &:hover {
            background: $calendar-hover-bg;
          }

          span {
            &,
            &:hover {
              color: $calendar-disabled-text;
            }
          }
        }

        &.active,
        &:active,
        &:focus {
          background: $calendar-active-bg;
          border-color: $calendar-active-border;
          box-shadow: none;
          color: $calendar-active-text;

          &:hover {
            background: $calendar-active-bg;
            border-color: $calendar-active-border;
            color: $calendar-active-text;
          }

          .text-muted {
            color: $calendar-active-text;
          }
        }

        &:hover {
          background: $calendar-hover-bg;
          border-color: $calendar-hover-border;
          color: $calendar-hover-text;
        }

        .text-muted {
          color: $cr-gray-light;
        }
      }
    }
  }

  .well {
    margin-bottom: 0;
  }

  .btn {
    &.btn-sm {
      font-size: .75rem;
      padding: 5px 10px;
    }

    &-info {
      &.active {
        background-color: $calendar-active-bg;
        border-color: $calendar-active-border;

        &:focus {
          background-color: $calendar-active-bg;
          border-color: $calendar-active-border;
        }

        .text-info {
          color: $calendar-active-text;
        }
      }
    }
  }

  .btn-default {
    border-color: $calendar-border;

    &.active {
      span {
        color: $calendar-active-text;
      }
    }

    .text-muted {
      color: $cr-gray-light;
    }
  }

  .dark-theme & {
    $calendar-bg: $cr-black;
    $calendar-text: $cr-gray;
    $calendar-border: $cr-gray-darker;
    $calendar-active-bg: $cr-teal;
    $calendar-active-text: $cr-white;
    $calendar-active-border: $cr-teal;
    $calendar-disabled-text: $cr-gray-dark;
    $calendar-hover-bg: $calendar-bg;
    $calendar-hover-text: $calendar-text;
    $calendar-hover-border: $calendar-border;

    thead {
      .btn {
        &.btn-default {
          background: $calendar-border;
          border-color: $calendar-border;
          color: $cr-gray;

          &:active,
          &:focus,
          &:hover {
            background: $calendar-border;
            border-color: $calendar-border;
            color: $cr-gray;
          }
        }
      }
    }

    tbody {
      .btn {
        &.btn-default {
          background: $calendar-bg;
          border-color: $calendar-border;
          color: $calendar-text;

          &.disabled {
            &:active,
            &:focus {
              color: $calendar-text;

              &:hover {
                background: $calendar-hover-bg;
              }
            }

            &:hover {
              background: $calendar-hover-bg;
            }

            span {
              &,
              &:hover {
                color: $calendar-disabled-text;
              }
            }
          }

          &.active,
          &:active,
          &:focus {
            background: $calendar-active-bg;
            border-color: $calendar-active-border;
            box-shadow: none;
            color: $calendar-active-text;

            &:hover {
              background: $calendar-active-bg;
              border-color: $calendar-active-border;
              color: $calendar-active-text;
            }

            .text-muted {
              color: $calendar-active-text;
            }
          }

          &:hover {
            background: $calendar-hover-bg;
            border-color: $calendar-hover-border;
            color: $calendar-hover-text;
          }

          .text-muted {
            color: darken($cr-gray, 5);
          }
        }
      }
    }

    .well {
      background: $calendar-bg;
      border-color: $calendar-bg;
      box-shadow: none;
    }

    .btn {
      &-info {
        &.active {
          background-color: $calendar-active-bg;
          border-color: $calendar-active-border;

          &:focus {
            background-color: $calendar-active-bg;
            border-color: $calendar-active-border;
          }

          .text-info {
            color: $calendar-active-text;
          }
        }
      }
    }

    .btn-default {
      border-color: $calendar-border;

      &.active {
        span {
          color: $calendar-active-text;
        }
      }
    }
  }
}
