.form-group {
  &.has-success,
  &.has-error,
  &.has-warning {
    border-right-style: solid;
    border-right-width: 8px;

    input,
    textarea {
      border: 1px solid $cr-gray-light;
      border-right: none;
      background: $cr-white;
      box-shadow: none;
    }
  }

  &.has-success {
    border-right-color: $brand-success;
  }

  &.has-error {
    border-right-color: $brand-danger;

    .helper-block {
      background: $brand-danger;
      color: $cr-white;
      padding: .5rem 1rem;
    }
  }

  &.has-warning {
    border-right-color: $brand-warning;

    .helper-block {
      background: $brand-warning;
      color: $cr-white;
      padding: .5rem 1rem;
    }
  }
}