.form-group {
  &.has-success,
  &.has-error,
  &.has-warning {
    border-right-style: solid;
    border-right-width: 8px;

    input,
    textarea {
      border: 1px solid $input-border;
      border-right: none;
      background: $cr-white;
      box-shadow: none;
    }
  }

  input,
  textarea {
    border: 1px solid $input-border;
    border-right: none;
    background: $cr-white;
    box-shadow: none;

    &.ng-touched.ng-invalid,
    &.ng-valid {
      border-right-style: solid;
      border-right-width: 8px;
    }

    &.ng-touched {
      border-right-color: $brand-success;
    }

    &.ng-touched.ng-invalid {
      border-right-color: $brand-danger;
    }
  }

  &.has-success {
    border-right-color: $brand-success;
  }

  &.has-error,
  &.has-warning {
    .help-block {
      color: $cr-white;
      padding: .5rem 1rem;
    }
  }

  .error {
    &.help-block {
      background: $brand-danger;
      color: $cr-white;
      padding: .5rem 1rem;
      position: relative;
      top: -1px;
    }
  }

  &.has-error {
    border-right-color: $brand-danger;

    .help-block {
      background: $brand-danger;
    }
  }

  &.has-warning {
    border-right-color: $brand-warning;

    .help-block {
      background: $brand-warning;
    }
  }
}