.font-size-h1 {
  font-size: 2.75rem; // 44px

  @media screen and (min-width: $screen-xs) {
    font-size: 4.25rem; // 68px
  }
}
.font-size-h2 {
  font-size: 2.5rem; // 40px

  @media screen and (min-width: $screen-xs) {
    font-size: 3rem; // 48px
  }
}
.font-size-h3 {
  font-size: 2rem; // 32px

  @media screen and (min-width: $screen-xs) {
    font-size: 2.5rem; // 40px
  }
}
.font-size-h4 {
  font-size: 1.75rem; // 28px

  @media screen and (min-width: $screen-xs) {
    font-size: 2rem; // 32px
  }
}
.font-size-h5 {
  font-size: 1.375rem; // 22px

  @media screen and (min-width: $screen-xs) {
    font-size: 1.75rem; // 28px
  }

  .dark-theme & {
    border-top: 1px solid $cr-gray-dark;
  }
}
.font-size-h6 {
  font-size: 1.1875rem; // 19px

  @media screen and (min-width: $screen-xs) {
    font-size: 1.375rem; // 22px
  }
}
.font-size-large {
  font-size: 1.1875rem; // 19px

  @media screen and (min-width: $screen-xs) {
    font-size: 1.375rem; // 22px
  }
}
.font-size-base {
  font-size: 1rem; // 16px

  @media screen and (min-width: $screen-xs) {
    font-size: 1.1875rem; // 19px
  }
}
.font-size-small {
  font-size: .875rem; // 14px

  @media screen and (min-width: $screen-xs) {
    font-size: 1rem; // 16px
  }
}

.font-size-smaller {
  font-size: 0.875rem; // 14px
}
h1 {
  @extend .font-size-h1;
}
h2 {
  @extend .font-size-h2;
}
h3 {
  @extend .font-size-h3;
}
h4 {
  @extend .font-size-h4;
}
h5 {
  @extend .font-size-h5;
}
h6 {
  @extend .font-size-h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .dark-theme & {
    $headings-color: $cr-gray-dark;

    color: $headings-color;
  }
}