.header-box {
  border: 3px solid;
  font-family: $condensed-extra-font-face;
  font-size: $font-size-h1;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 25px 10px;
  text-align: center;
  text-transform: uppercase;

  &.text-orange {
    border-color: currentColor;
  }

  &.text-blue {
    border-color: currentColor;
  }

  &.text-white {
    border-color: currentColor;
  }
  
  &.text-gray {
    border-color: currentColor;
  }
}