@font-face {
    font-family: "icons";
    src: url("../../fonts/icons.eot?9007a2e97d68b76c944c4a71c6c930e1?#iefix") format("embedded-opentype"),
url("../../fonts/icons.woff?9007a2e97d68b76c944c4a71c6c930e1") format("woff"),
url("../../fonts/icons.ttf?9007a2e97d68b76c944c4a71c6c930e1") format("truetype"),
url("../../fonts/icons.svg?9007a2e97d68b76c944c4a71c6c930e1#icons") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icon-calendar:before {
    content: "\f101";
}
.icon-check-circle:before {
    content: "\f102";
}
.icon-chevron-left:before {
    content: "\f103";
}
.icon-chevron-right:before {
    content: "\f104";
}
.icon-circle-thin:before {
    content: "\f105";
}
.icon-circle:before {
    content: "\f106";
}
.icon-facebook:before {
    content: "\f107";
}
.icon-github:before {
    content: "\f108";
}
.icon-instagram:before {
    content: "\f109";
}
.icon-twitter:before {
    content: "\f10a";
}
.icon-usd:before {
    content: "\f10b";
}
.icon-youtube:before {
    content: "\f10c";
}
