$dimensions: 16px;
$sprite_arr: _str-split('assets/svgs/icons.css.svg', '/');
$sprite_basename: nth($sprite_arr, 3);

%icon-dimensions {
  width: auto;
  height: $dimensions * 2;
  background-size: $dimensions * 2;
  @for $i from 1 through 6 {
    &.icon-#{$i} {
      width: auto;
      height: $dimensions * $i;
      background-size: $dimensions * $i;
    }
  }
}

.icon:not(svg) {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  background-size: 32px 32px;
}

svg.icon {
  @extend %icon-dimensions;
  use {
    fill: currentColor;
  }
}

%svg-common {
  background-image: url("#{$cr-path-to-icons-sprite}#{$sprite_basename}");
  background-repeat: no-repeat;
  @extend %icon-dimensions;

  .dark-theme & {
    filter: invert(75%);
    -webkit-filter: invert(75%);
  }
}

.icon.calendar:not(svg) {
  @extend %svg-common;
  background-position: 0 0;
}

.icon.camera:not(svg) {
  @extend %svg-common;
  background-position: 0 2.63103802672148%;
}

.icon.caret-down:not(svg) {
  @extend %svg-common;
  background-position: 0 5.26207605344296%;
}

.icon.check-circle:not(svg) {
  @extend %svg-common;
  background-position: 0 7.89311408016444%;
}

.icon.chevron-down:not(svg) {
  @extend %svg-common;
  background-position: 0 10.52415210688592%;
}

.icon.chevron-left:not(svg) {
  @extend %svg-common;
  background-position: 0 13.1551901336074%;
}

.icon.chevron-right:not(svg) {
  @extend %svg-common;
  background-position: 0 15.78622816032888%;
}

.icon.chevron-up:not(svg) {
  @extend %svg-common;
  background-position: 0 18.41726618705036%;
}

.icon.circle-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 21.04830421377184%;
}

.icon.clock-o:not(svg) {
  @extend %svg-common;
  background-position: 0 23.67934224049332%;
}

.icon.close:not(svg) {
  @extend %svg-common;
  background-position: 0 26.3103802672148%;
}

.icon.close-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 28.94141829393628%;
}

.icon.contrast:not(svg) {
  @extend %svg-common;
  background-position: 0 31.57245632065776%;
}

.icon.copy:not(svg) {
  @extend %svg-common;
  background-position: 0 34.20349434737924%;
}

.icon.download:not(svg) {
  @extend %svg-common;
  background-position: 0 36.83453237410072%;
}

.icon.equalizer:not(svg) {
  @extend %svg-common;
  background-position: 0 39.4655704008222%;
}

.icon.exclamation-circle:not(svg) {
  @extend %svg-common;
  background-position: 0 42.09660842754368%;
}

.icon.eye:not(svg) {
  @extend %svg-common;
  background-position: 0 44.73224380717443%;
}

.icon.eye-slash:not(svg) {
  @extend %svg-common;
  background-position: 0 47.37383081508891%;
}

.icon.facebook:not(svg) {
  @extend %svg-common;
  background-position: 0 50.010277492291884%;
}

.icon.github:not(svg) {
  @extend %svg-common;
  background-position: 0 52.64131551901336%;
}

.icon.instagram:not(svg) {
  @extend %svg-common;
  background-position: 0 55.27235354573484%;
}

.icon.link:not(svg) {
  @extend %svg-common;
  background-position: 0 57.90339157245632%;
}

.icon.location-arrow:not(svg) {
  @extend %svg-common;
  background-position: 0 60.5344295991778%;
}

.icon.map-marker:not(svg) {
  @extend %svg-common;
  background-position: 0 63.16546762589928%;
}

.icon.media-article:not(svg) {
  @extend %svg-common;
  background-position: 0 65.79650565262077%;
}

.icon.media-podcast:not(svg) {
  @extend %svg-common;
  background-position: 0 68.42754367934224%;
}

.icon.media-video:not(svg) {
  @extend %svg-common;
  background-position: 0 71.05858170606372%;
}

.icon.menu:not(svg) {
  @extend %svg-common;
  background-position: 0 73.6896197327852%;
}

.icon.minus:not(svg) {
  @extend %svg-common;
  background-position: 0 76.32065775950667%;
}

.icon.play-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 78.95169578622816%;
}

.icon.plus:not(svg) {
  @extend %svg-common;
  background-position: 0 81.58273381294964%;
}

.icon.question-circle:not(svg) {
  @extend %svg-common;
  background-position: 0 84.21377183967113%;
}

.icon.screwhead-crds:not(svg) {
  @extend %svg-common;
  background-position: 0 86.8448098663926%;
}

.icon.search:not(svg) {
  @extend %svg-common;
  background-position: 0 89.47584789311408%;
}

.icon.share:not(svg) {
  @extend %svg-common;
  background-position: 0 92.10688591983556%;
}

.icon.twitter:not(svg) {
  @extend %svg-common;
  background-position: 0 94.73792394655705%;
}

.icon.usd:not(svg) {
  @extend %svg-common;
  background-position: 0 97.36896197327852%;
}

.icon.youtube:not(svg) {
  @extend %svg-common;
  background-position: 0 100%;
}

