$dimensions: 16px;
$sprite_arr: _str-split('assets/svgs/icons.css.svg', '/');
$sprite_basename: nth($sprite_arr, 3);

%icon-dimensions {
  width: auto;
  height: $dimensions * 2;
  background-size: $dimensions * 2;
  @for $i from 1 through 6 {
    &.icon-#{$i} {
      width: auto;
      height: $dimensions * $i;
      background-size: $dimensions * $i;
    }
  }
}

.icon:not(svg) {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  background-size: 32px 32px;
}

svg.icon {
  @extend %icon-dimensions;
  use {
    fill: currentColor;
  }
}

%svg-common {
  background-image: url("#{$cr-path-to-icons-sprite}#{$sprite_basename}");
  background-repeat: no-repeat;
  @extend %icon-dimensions;

  .dark-theme & {
    filter: invert(75%);
    -webkit-filter: invert(75%);
  }
}

.icon.account-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 0;
}

.icon.calendar:not(svg) {
  @extend %svg-common;
  background-position: 0 2.221836486721055%;
}

.icon.camera:not(svg) {
  @extend %svg-common;
  background-position: 0 4.44367297344211%;
}

.icon.caret-down:not(svg) {
  @extend %svg-common;
  background-position: 0 6.665509460163166%;
}

.icon.chat-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 8.88734594688422%;
}

.icon.check-circle:not(svg) {
  @extend %svg-common;
  background-position: 0 11.109182433605277%;
}

.icon.chevron-down:not(svg) {
  @extend %svg-common;
  background-position: 0 13.331018920326333%;
}

.icon.chevron-left:not(svg) {
  @extend %svg-common;
  background-position: 0 15.552855407047387%;
}

.icon.chevron-right:not(svg) {
  @extend %svg-common;
  background-position: 0 17.77469189376844%;
}

.icon.chevron-up:not(svg) {
  @extend %svg-common;
  background-position: 0 19.996528380489497%;
}

.icon.circle-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 22.218364867210553%;
}

.icon.clock-o:not(svg) {
  @extend %svg-common;
  background-position: 0 24.44020135393161%;
}

.icon.close:not(svg) {
  @extend %svg-common;
  background-position: 0 26.662037840652665%;
}

.icon.close-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 28.88387432737372%;
}

.icon.contrast:not(svg) {
  @extend %svg-common;
  background-position: 0 31.105710814094774%;
}

.icon.copy:not(svg) {
  @extend %svg-common;
  background-position: 0 33.32754730081583%;
}

.icon.credit-card:not(svg) {
  @extend %svg-common;
  background-position: 0 35.54938378753688%;
}

.icon.download:not(svg) {
  @extend %svg-common;
  background-position: 0 37.77122027425794%;
}

.icon.equalizer:not(svg) {
  @extend %svg-common;
  background-position: 0 39.993056760978995%;
}

.icon.exclamation-circle:not(svg) {
  @extend %svg-common;
  background-position: 0 42.214893247700054%;
}

.icon.eye:not(svg) {
  @extend %svg-common;
  background-position: 0 44.440586754622%;
}

.icon.eye-slash:not(svg) {
  @extend %svg-common;
  background-position: 0 46.67129589445361%;
}

.icon.facebook:not(svg) {
  @extend %svg-common;
  background-position: 0 48.89776080541573%;
}

.icon.github:not(svg) {
  @extend %svg-common;
  background-position: 0 51.11959729213678%;
}

.icon.instagram:not(svg) {
  @extend %svg-common;
  background-position: 0 53.341433778857834%;
}

.icon.link:not(svg) {
  @extend %svg-common;
  background-position: 0 55.56327026557889%;
}

.icon.location-arrow:not(svg) {
  @extend %svg-common;
  background-position: 0 57.785106752299946%;
}

.icon.map-marker:not(svg) {
  @extend %svg-common;
  background-position: 0 60.006943239021005%;
}

.icon.media-article:not(svg) {
  @extend %svg-common;
  background-position: 0 62.22877972574206%;
}

.icon.media-music:not(svg) {
  @extend %svg-common;
  background-position: 0 64.45061621246312%;
}

.icon.media-podcast:not(svg) {
  @extend %svg-common;
  background-position: 0 66.67245269918416%;
}

.icon.media-video:not(svg) {
  @extend %svg-common;
  background-position: 0 68.89428918590522%;
}

.icon.menu:not(svg) {
  @extend %svg-common;
  background-position: 0 71.11612567262628%;
}

.icon.menu-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 73.33796215934734%;
}

.icon.minus:not(svg) {
  @extend %svg-common;
  background-position: 0 75.55979864606839%;
}

.icon.play-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 77.78163513278945%;
}

.icon.plus:not(svg) {
  @extend %svg-common;
  background-position: 0 80.0034716195105%;
}

.icon.question-circle:not(svg) {
  @extend %svg-common;
  background-position: 0 82.22530810623155%;
}

.icon.screwhead-crds:not(svg) {
  @extend %svg-common;
  background-position: 0 84.44714459295261%;
}

.icon.search:not(svg) {
  @extend %svg-common;
  background-position: 0 86.66898107967367%;
}

.icon.search-thin:not(svg) {
  @extend %svg-common;
  background-position: 0 88.89081756639472%;
}

.icon.share:not(svg) {
  @extend %svg-common;
  background-position: 0 91.11265405311578%;
}

.icon.twitter:not(svg) {
  @extend %svg-common;
  background-position: 0 93.33449053983684%;
}

.icon.university:not(svg) {
  @extend %svg-common;
  background-position: 0 95.5563270265579%;
}

.icon.usd:not(svg) {
  @extend %svg-common;
  background-position: 0 97.77816351327894%;
}

.icon.youtube:not(svg) {
  @extend %svg-common;
  background-position: 0 100%;
}

