.jumbotron {
  text-align: center;

  &[style*='background-image'],
  &.bg-video {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $cr-white;

    a {
      color: $cr-white;
    }
  }

  &.bg-video {
    position: relative;
    background-color: transparent;
    overflow: hidden;
  }

  .bg-video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .video-full-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .title {
    margin: 1.75rem;
    font-family: $base-font-face;
    font-weight: 100;
    font-size: 4.25rem;
    line-height: 1;
  }

  > p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .small-heading {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  a.btn {
    margin: 1rem;
  }

  a.btn-large {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}
