.background-tan {
    background-color: #E7E2D0;
}

.body-gray {
    color: #5f5f5f;
    font-size: 19px; 
    letter-spacing: 0;
    max-width: 750px; 
}

.btn { 
    border-radius: 0; 
}

.headline-gray {
    color: #575757;
    font-size: 52px;
    margin-top: 18px; 
}

.second-btn { 
    margin-left: 14.5px; 
}

.subtitle-gray {
    color: #999;
    font-size: 12px;
    margin-top: 0px; 
}

.title { 
    color: #808080; 
    font-size: 15px; 
}
