.background-tan {
    background-color: #E7E2D0;
}

.body-gray {
    color: #5f5f5f;
    font-size: 19px; 
    letter-spacing: 0;
    max-width: 750px; 
}

.btn { 
    border-radius: 0; 
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.headline-gray {
    color: #575757;
    font-size: 52px;
    margin-top: 18px; 
}

.second-btn { 
    margin-left: 14.5px; 
}

.subtitle-gray {
    color: #999;
    font-size: 12px;
    margin-top: 0px; 
}

.title { 
    color: #808080; 
    font-size: 15px; 
}
