.crds-logo-color {
  .crds-logo-text {
    fill: #e0d8c6;
  }
  
  .crds-logo-mark {
    fill: #f47920;
  }
}

.crds-logo-black {
  .crds-logo-text {
    fill: #000000;
  }
  
  .crds-logo-mark {
    fill: #000000;
  }
}

.crds-logo-white {
  .crds-logo-text {
    fill: #ffffff;
  }
  
  .crds-logo-mark {
    fill: #ffffff;
  }
}