/**
** Modals
** 1. Video Modal
**/




/* 1. Video Modal */
.video-modal {
  .modal-body {
    padding: 0;
  }

  .modal-content {
    box-shadow: none;
    background: transparent;
    border: none;
    border-radius: 0;
  }

  iframe {
    width: 100%;
    min-height: 300px;

    @each $height in (600 800 1000) {
      @media screen and ( min-height: #{$height}px ){
        min-height: #{$height - 100}px;
      }
    }
  }

  .close {
    margin-bottom: .5rem;
    color: $cr-white;
    font-size: 3.5rem;
    opacity: 1;
    font-weight: 100;
  }
}
