.crds-tab-nav {
  display: block;
  padding: 0;
  margin: 0;
  height: 60px;
  background-color: $cr-cyan;
  z-index: 10;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);

  @media (min-width: $screen-xs-min) {
    height: 66px;
  }

  // Using boostrap variables to support tablets
  // We can have a deeper conversation in the future about
  //what devices should see this nav
  @media (min-width: $screen-sm-min) {
    display: none;
  }
  
  a {
    float: left;
    margin-top: .25rem;
    width: 20%;
    height: 100%;
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    
    @media(min-width: $screen-xs-min) {
      font-size: 12px;
    }

    &:hover {
      background: inherit;
    }

    svg {
      display: block;
      margin: 2px auto;
      width: 24px;

      @media (min-width: $screen-xs-min) {
        width: 28px;
      }
    }
  }

  .active, 
  a:hover  {
    color: $cr-white;
  }

  &.dark {
    background-color: $cr-blue-dark;
  }

  &.light {
    background-color: #efefef;

    a {
      color: rgba(29, 54, 71, 0.6);
    }

    .active,
    a:hover {
      color: #1d3647;
    }
  }

  &.top {
    position: relative;
    top: 0;
    margin-bottom: 1rem;
  }

  &.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    // apparently this helps fixed performance
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
