// 1. Default tabs
// 2. Vertical tabs




// 1. Default tabs (horizontal tabs)
.nav-tabs {
  li {
    margin-right: .5rem;

    @media screen and (min-width: $screen-xs) {
      margin-right: 1.5rem;
    }

    &.active {
      border-bottom: 3px solid $cr-cyan;

      > a,
      > a:hover,
      > a:focus {
        border: 0;
      }
    }

    > a,
    > a:hover,
    > a:focus {
      border: 0;
      background-color: transparent !important;
      color: $cr-gray;
      padding-left: 0;
      padding-right: 0;
    }

    > a:hover {
      color: $cr-gray-dark;
    }
  }
}




// 2. Vertical tabs (sidebar navigation)
.sidebar-navigation {
  $dd-border-color: $cr-cyan;
  $dd-color: $cr-gray-light;
  $dd-color-hover: $cr-gray;

  .dropdown {
    display: block;
    z-index: 1;
  }

  .dropdown-menu {
    right: 0;

    > li > a {
      white-space: normal;
    }
  }

  @media screen and (min-width: $screen-md) {
    .dropdown {
      .btn {
        display: none;
      }

      .dropdown-menu {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        display: block;
        position: relative;

        > li > a {
          color: $dd-color;
          margin-bottom: .5rem;
          padding-top: 0;
          padding-bottom: 0;

          &.active,
          &:active,
          &:hover,
          &:focus {
            background: transparent;
            border-left: 3px solid $dd-border-color;
            color: $dd-color-hover;
            padding-left: 17px;
          }
        }
      }
    }
  }
}