/* Typography */

.font-family-base {
  font-family: $base-font-face;
  font-weight: 300;
}

.font-family-base-light {
  font-family: $base-font-face;
  font-weight: 100;
}

.font-family-base-bold {
  font-family: $base-font-face;
  font-weight: 600;
}

.font-family-condensed {
  font-family: $condensed-font-face;
  font-weight: 600;
}

.font-family-condensed-extra {
  font-family: $condensed-extra-font-face;
  font-weight: 600;
}

.font-family-accent {
  font-family: $accent-font-face;
  font-style: italic;
  font-weight: 300;
}

// 16 * .5 = 8
// 16 * .75 = 12
// 16 * .875 = 14
// 16 * 1 = 16
// 16 * 1.125 = 18
// 16 * 1.25 = 20
// 16 * 1.5 = 24
// 16 * 1.75 = 28
// 16 * 2 = 32
// 16 * 2.25 = 36
// 16 * 2.5 = 40
// 16 * 2.75 = 44
// 16 * 3 = 48
// 16 * 3.25 = 52

/* Headings */

h1 {
  @extend .font-family-base-light;
  font-size: 3.625rem; // 58px
  word-wrap: break-word;

  @media screen and (min-width: $screen-xs) {
    font-size: 4.25rem; // 68px
    word-wrap: normal;
  }
}

h2 {
  @extend .font-family-condensed-extra;
  text-transform: uppercase;
  font-size: 2.75rem; // 44px

  @media screen and (min-width: $screen-xs) {
    font-size: 3.4375rem; // 55px
  }
}

h3 {
  @extend .font-family-base;
  font-size: 2.25rem; // 36px

  @media screen and (min-width: $screen-xs) {
    font-size: 2.5rem; // 40px
  }
}

h4 {
  @extend .font-family-base;
  font-size: 1.3125rem; // 21px
  border-top: 1px solid $cr-gray-light;
  color: $cr-gray;
  padding-top: 0.25em;

  @media screen and (min-width: $screen-xs) {
    font-size: 1.5rem; // 24px
  }
}

h5 {
  @extend .font-family-condensed-extra;
  text-transform: uppercase;
  font-size: 2rem; // 32px

  @media screen and (min-width: $screen-xs) {
    font-size: 2.125rem; // 34px
  }
}

h6 {
  @extend .font-family-condensed-extra;
  text-transform: uppercase;
  font-size: 1.5rem; // 24px
}

/* Body */

main {
  font-size: 1rem; // 16px

  @media screen and (min-width: $screen-xs) {
    font-size: 1.1875rem; // 19px
  }
}

.lead {
  font-size: 1.125rem; // 18px

  @media screen and (min-width: $screen-xs) {
    font-size: 1.375rem; // 22px
  }
}

.quiet {
  font-size: .875rem; // 14px

  @media screen and (min-width: $screen-xs) {
    font-size: 1rem; // 16px
  }
}

/* Metadata */

.metadata {
  font-size: .75rem; // 12px
  text-transform: uppercase;
  font-weight: 600;
  color: $cr-gray;

  @media screen and (min-width: $screen-xs) {
    font-size: .9375rem; // 15px
  }
}

.subtitle {
  @extend .font-family-base-bold;
  font-size: 1rem; // 16px

  @media screen and (min-width: $screen-xs) {
    font-size: 1.3125rem; // 21px
  }
}

.tagline {
 @extend .font-family-accent;
 font-size: .875rem; // 14px
 color: $cr-gray;

 @media screen and (min-width: $screen-xs) {
   font-size: 1rem; // 16px
  }
}

/* Other */

address {
  background: $cr-gray-lighter;
  font-size: 1rem; // 16px
  padding: 1.25rem 1rem;
  strong {
    font-size: 1.1875rem; // 19px
  }
}

blockquote {
  @extend .font-family-accent;
  font-size: 1.1875rem; // 19px
  line-height: 140%;
  font-weight: 300;
  color: $cr-gray;
  border: 2px solid lighten($cr-gray, 25);
  padding: 2em;
  span {
    display: block;
    margin-top: 0.5em;
    font-style: normal;
    font-size: 1.375rem; // 22px
    @extend .font-family-condensed-extra;
  }
}

ol, ul {
  &.crds-list {
    font-size: 1.1875rem; // 19px
    li {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

dl.crds-list {
  font-size: 1.1875rem; // 19px
  dt {
    @extend .font-family-condensed-extra;
    text-transform: uppercase;
    font-size: 1.5rem; // 24px
  }
  dd {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}