.dark-theme {
  $body-bg: $cr-black;
  $text-color: $cr-gray;
  $hr-border: $cr-gray-darker;
  $headings-color: $cr-gray-dark;

  background: $body-bg;
  color: $text-color;

  hr {
    border-top-color: $hr-border;
  }

  h2 {
    color: $headings-color;
  }

  // Datepicker

  datepicker {
    $calendar-bg: $cr-black;
    $calendar-text: $cr-white;
    $calendar-border: $cr-gray-dark;
    $calendar-active-bg: $cr-teal;
    $calendar-active-text: $cr-white;
    $calendar-active-border: $cr-teal;
    $calendar-hover-bg: $cr-gray-lighter;
    $calendar-hover-text: $cr-gray-darker;
    $calendar-hover-border: $cr-gray;

    .well {
      background: $calendar-bg;
      border: 0;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      margin-top: -1em;
    }

    .btn-default {
      background: $calendar-bg;
      border-color: $calendar-border;
      color: $calendar-text;

      &.active {
        background-color: $calendar-active-bg;
        border-color: $calendar-active-border;

        &:focus {
          background-color: $calendar-active-bg;
          border-color: $calendar-active-border;
        }

        .text-info,
        span {
          color: $calendar-active-text;
        }
      }

      .text-info {
        color: $calendar-active-text;
      }
    }

    th {
      .btn-default {
        &.btn-secondary {
          &.btn-sm {
            background: $cr-gray-darker;
            color: $cr-gray;
          }
        }
      }
    }
  }
}