.dark-theme {
  $body-bg: $cr-black;
  $text-color: $cr-gray;
  $hr-border: $cr-gray-darker;
  $headings-color: $cr-gray-dark;

  background: $body-bg;
  color: $text-color;

  hr {
    border-top-color: $hr-border;
  }

  h2 {
    color: $headings-color;
  }

  // Tables
  .table-contrast-bg {
    background: $cr-gray-darkest;
  }

  .receipt-table {
    tr:not(:last-child) {
      border-color: $cr-gray-darker;
    }

    tr {
      td:first-child {
        a {
          color: $cr-gray;
        }
      }

      small {
        a {
          color: $cr-cyan;
        }
      }
    }
  }
}