.bg-success {
  @include crds-bg-variant($brand-success);
}

.bg-info {
  @include crds-bg-variant($brand-info);
}

.bg-social {
  @include crds-bg-variant($cr-orange);
}

.bg-warning {
  @include crds-bg-variant($brand-warning);
}

.bg-danger {
  @include crds-bg-variant($brand-danger);
}

.bg-blue {
  @include crds-bg-variant($cr-blue);
}

.bg-blue-dark {
  @include crds-bg-variant($cr-blue-dark);
}

.bg-cyan {
  @include crds-bg-variant($cr-cyan);
}

.bg-cyan-dark {
  @include crds-bg-variant($cr-cyan-dark);
}

.bg-gray {
  @include crds-bg-variant($cr-gray-lighter, $cr-gray);
}

.bg-charcoal {
  @include crds-bg-variant(lighten($cr-gray-darker, 0.75), $cr-gray);
}

.bg-cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-contain-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
