/* Utility classes to change color of text */

.text-white {
  color: $cr-white;
}

.text-black {
  color: $cr-black;
}

.text-gray-dark {
  color: $cr-gray-dark;
}

.text-gray-light {
  color: $cr-gray-light;
}

.text-cyan {
  color: $cr-cyan;
}

.text-cyan-light {
  color: $cr-cyan-light;
}

.text-blue {
  color: $cr-blue
}

.text-orange {
  color: $cr-orange;
}