// Searchbar
.searchbar {
  input {
    // Removes validation styles
    &.form-control.ng-touched {
      &.ng-valid,
      &.ng-invalid {
        border-color: $input-border;
        box-shadow: inset 0 0 0 1px $input-border;

        &:focus {
          border-color: $input-border-focus;
          box-shadow: inset 0 0 0 1px rgba($input-border-focus, 0.5);
        }
      }
    }

    &[placeholder] {
      text-overflow: ellipsis;
    }
  }
}

// 🚨 Connect-specific layout?
.connect-search {
  background-color: darken(desaturate($cr-blue-dark, 5), 5);
  padding-top: .5rem;
  padding-bottom: .5rem;

  > div {
    display: flex;

    > button {
      margin-left: 10px;
    }
  }
}




// Input with button
.input-group {
  display: flex;
  flex-grow: 1;

  .input-group-btn {
    width: initial;

    > button {
      padding-right: 10px;
      padding-left: 10px;

      @media (min-width: $screen-xs) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
}




// Fauxdal
$modal-bg: darken($cr-blue, 20);
$modal-color: $cr-white;

.fauxdal {
  background-color: $modal-bg;
  color: $modal-color;
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;

  .fauxdal-content {
    background-color: $modal-bg;
    text-align: center;
    @include make-row();

    > * {
      @include make-xs-column(12);

      @media (min-width: $screen-xs) {
        @include make-xs-column(8);
        @include make-xs-column-push(2);
      }
    }
  }

  .close {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  // Centers content vertically
  &.fauxdal-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




