// app-neighbors {
//   display: block;
//   background: $cr-gray-lighter;
// }

// Add me to map
app-add-me-to-map {
  background-color: darken($cr-blue, 20);
  color: $cr-white;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fauxdal {
  &.fauxdal-fullscreen {
    .container-fluid {
      background-color: darken($cr-blue, 20);
      padding-top: 1rem;
      padding-bottom: 1rem;

      a {
        color: $cr-white;

        &:hover {
          color: darken($cr-white, 20);
        }
      }

      address-form {
        display: block;
        margin: 0 auto;
        padding-top: 1rem;
        width: 100%;
      }

      crds-content-block {
        display: block;
        margin: 0 auto;
        text-align: center;
      }

      @media (min-width: $screen-xs) {
        padding: 2rem;

        crds-content-block {
          width: 80%;
        }

        address-form {
          width: 60%;
        }
      }

      @media (min-width: $screen-sm) {
        crds-content-block {
          width: 70%;
        }

        address-form {
          width: 50%;
        }
      }

      @media (min-width: $screen-md) {
        crds-content-block {
          width: 60%;
        }

        address-form {
          width: 40%;
        }
      }

      @media (min-width: $screen-lg) {
        crds-content-block {
          width: 40%;
        }

        address-form {
          width: 25%;
        }
      }
    }
  }

  .title {
    color: $cr-white;
  }
}

.app-header {
  position: relative;
  z-index: 5;

  .brand-bar {
    position: relative;
    height: 40px;
    overflow: hidden;
    background-image: url('/assets/brandbanner-bg.jpg');
    background-repeat: repeat-x;
    background-size: auto 100%;
  }

  .app-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 11.5px;
    line-height: 1;
    color: $cr-white;
    background-image: url('/assets/brandbanner-logo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    svg {
      width: 75px;
      height: 15px;
      padding: 0;
    }
  }

  .page-title {
    text-align: center;
    padding: 1rem;
    background-color: darken(desaturate($cr-blue-dark, 5), 5);

    * {
      color: $cr-white;
    }

    a {
      margin-top: 0.25rem;
    }

    h1 {
      display: inline-block;
      margin: 0 auto;
      line-height: 1;
      font-size: 1.5rem;
    }
  }
}

// Centers blocks to the middle of the screen.
.content-middle {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-tablet;
  text-align: center;
  width: 100%;
}

// Map searchbar
app-search-bar {
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: flex-start;
  padding: .5rem 1rem;
  background-color: darken(desaturate($cr-blue-dark, 5), 5);

  > div {
    display: flex;
    justify-content: flex-start;

    @media (min-width: $screen-sm) {
      margin: 0 auto;
      padding: 0 2rem;
      width: $container-tablet;
    }

    > button {
      margin-left: 6px;
    }
  }


  .input-group {
    display: inline-flex;
    width: calc(100% - 90px);
    margin-right: 1rem;

    .input-group-btn {
      width: initial;
    }

    @media (min-width: $screen-xs) {
      flex-grow: 0;
    }

    button.btn {
      padding-right: 10px;
      padding-left: 10px;
      width: 70px;

      @media (min-width: $screen-xs) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }

  input[placeholder] {
    text-overflow: ellipsis;
  }

  // Remove validation
  input.form-control.ng-touched {
    &.ng-valid,
    &.ng-invalid {
      border-color: $input-border;
      box-shadow: inset 0 0 0 1px $input-border;

      &:focus {
      border-color: $input-border-focus;
      box-shadow: inset 0 0 0 1px rgba($input-border-focus, 0.5);
      }
    }
  }
}

app-map,
sebm-google-map,
canvas-map-overlay {
  // Calculations are designed such that while the screen is less than 3000px
  // tall, the map is never too short, but also never more than 99px below
  // the bottom of the screen directly within Connect.
  //
  // When displayed as a microclient, it may fall another 54px-64px below
  // the footer, accounting for the global header.
  height: 381px;
  @for $idx from 5 to 30 {
    $height: $idx * 100;
    @media screen and ( min-height: #{$height}px ){
      height: #{$height - 19}px;
    }
  }
}

// Style map
app-map {
  display: block;
  overflow: hidden;
  position: relative;
}

sebm-google-map {
  @media (min-width: $screen-xs) {
    .gmnoprint {
      padding: .5rem;
    }
  }
}

canvas-map-overlay {
  display: block;
  pointer-events: none;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

// Map footer
app-map-footer {
  position: absolute;
  width: 0;
  height: 0;
  top: 5px;
  right: 1rem;
  z-index: 4;
  @media (min-width: $screen-xs) {
    top: 13px;
  }
  input {
    float: right;
    clear: both;
  }
}

// List view
app-listview {
  background: $cr-white;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $screen-sm) {
    box-shadow: 0 0 10px 0 $cr-gray-light;
    margin: 0 auto;
    padding: 1rem 2rem;
    width: $container-tablet;
  }

  h2 {
    @extend .font-family-base-light;
    color: $cr-gray-light;
    font-size: $font-size-h4;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: lowercase;
  }
}

list-footer {
  display: block;

  @media (min-width: $screen-sm) {
    margin-right: -2rem;
    margin-left: -2rem;
    width: $container-tablet;
  }

  > div {
    margin-top: 1rem;
    padding: 1.5rem 1rem 2rem;

    @media (min-width: $screen-sm) {
      padding-right: 3rem;
      padding-left: 3rem;
    }

    h4 {
      color: $cr-gray;
    }
  }
}

.entry {
  border-top: 1px solid darken($cr-gray-lighter, 10);
  cursor: pointer;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;

  div:first-child {
    min-width: 80px;
  }

  div:last-child {
    flex: 1 1 100%;
    margin-left: 1rem;
  }
}

.entry-header {
  @extend .component-header;
  color: $cr-cyan;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

}

.label {
  color: $cr-gray-dark;
  border-radius: $border-radius-base;
  float: right;
  font-family: 'Lexia', serif;
  font-size: $font-size-smaller;
  margin-top: 9px;
  padding: 5px 6px 4px;
  text-transform: uppercase;

  &.label-default {
    background: $cr-gray-light;
  }
  &.label-host {
    background: $cr-blue-lighter;
  }
  &.label-me {
    background: $cr-gold-lighter;
  }
}

.entry-subheader {
  @extend .control-label;
  color: $cr-gray-light;

  .joined_by {
    margin-left: .5rem;
  }
}

app-pin-detail {
  display: block;
  background: $cr-gray-lighter;
  height: 381px;
  @for $idx from 5 to 30 {
    $height: $idx * 100;
    @media screen and ( min-height: #{$height}px ){
      height: #{$height - 19}px;
    }
  }

  .pin-details {
    background: $cr-black;
    color: $cr-gray-light;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @for $idx from 5 to 30 {
      $height: $idx * 100;
      @media screen and ( min-height: #{$height}px ){
        height: #{$height - 19}px;
      }
    }

    @media (min-width: $screen-sm) {
      box-shadow: 0 0 10px 0 $cr-gray-light;
      margin: 0 auto;
      padding: 1rem 2rem;
      width: $container-tablet;
    }

    &.is-gathering {
      border-top: 1px solid $cr-gray-dark;
      border-bottom: 1px solid $cr-gray-dark;
    }

    p {
      color: $cr-gray-light;
    }
  }
}

.pin-detail-header {
  display: block;
  border-top: 1px solid $cr-gray-dark;
  border-bottom: 1px solid $cr-gray-dark;
  padding: 20px 0;

  h1 {
    @extend .component-header;
    font-size: $font-size-h1;
    color: $cr-white;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .pin-detail-name {
    text-align: left;

    .label {
      float: none;
      color: $cr-gray;
      background: $cr-cyan-lighter;
    }
  }

  .pin-detail-image {
    float: left;
    padding-right: 10px;

    img {
      border: 2px solid $cr-gray-dark;
    }
  }
}

gathering {
  p {
    padding: 20px 0;
    margin: 0;
  }

  .btn {
    background: $cr-cyan;
    color: $cr-white;
  }
}

say-hi {
  display: inline-block;

  p {
    padding: 20px 0;
    margin: 0;
  }

  .btn {
    background: $cr-gray-dark;
    color: $cr-white;
  }

  .btn-say-hi {
    background: $cr-cyan;
    color: $cr-white;
  }
}

readonly-address {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;

  p {
    padding: 0;
    margin: 0;
  }

  .pin-address-city {
    margin-bottom: 0;
  }
}

// Update search results button
search-local {
  display: block;
  position: absolute;
  top: 85px;
  right: 1rem;
  z-index: 4;

  @media (min-width: $screen-xs) {
    top: 93px;
  }
}
