// Searchbar
.searchbar {
  input {
    // Removes validation styles
    &.form-control.ng-touched {
      &.ng-valid,
      &.ng-invalid {
        border-color: $input-border;
        box-shadow: inset 0 0 0 1px $input-border;

        &:focus {
          border-color: $input-border-focus;
          box-shadow: inset 0 0 0 1px rgba($input-border-focus, 0.5);
        }
      }
    }

    &[placeholder] {
      text-overflow: ellipsis;
    }
  }
}

// 🚨 Connect-specific layout?
.connect-search {
  background-color: darken(desaturate($cr-blue-dark, 5), 5);
  padding-top: .5rem;
  padding-bottom: .5rem;

  > div {
    display: flex;

    > button {
      margin-left: 10px;
    }
  }
}




// Input with button
.input-group {
  display: flex;
  flex-grow: 1;

  .input-group-btn {
    width: initial;

    > button {
      padding-right: 10px;
      padding-left: 10px;

      @media (min-width: $screen-xs) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
}




// Fauxdal
$modal-bg: darken($cr-blue, 20);
$modal-color: $cr-white;

.fauxdal {
  position: relative;

  // Add vertical center fauxdal class

  &.fauxdal-fullscreen {
    background-color: $modal-bg;
    color: $modal-color;
    text-align: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    // Add media query styles from bland page update, modify to use Bootstrap grid.
  }
}




// Map styles
app-map,
sebm-google-map,
canvas-map-overlay {
  // Calculations are designed such that while the screen is less than 3000px
  // tall, the map is never too short, but also never more than 99px below
  // the bottom of the screen directly within Connect.
  //
  // When displayed as a microclient, it may fall another 54px-64px below
  // the footer, accounting for the global header.
  height: 381px;
  @for $idx from 5 to 30 {
    $height: $idx * 100;
    @media screen and ( min-height: #{$height}px ){
      height: #{$height - 19}px;
    }
  }
}
app-map {
  display: block;
  overflow: hidden;
  position: relative;
}

sebm-google-map {
  @media (min-width: $screen-xs) {
    .gmnoprint {
      padding: .5rem;
    }
  }
}

canvas-map-overlay {
  display: block;
  pointer-events: none;
  position: absolute;
  width: 100vw;
  z-index: 1;
}
// Map footer
app-map-footer {
  position: absolute;
  width: 0;
  height: 0;
  top: 5px;
  right: 1rem;
  z-index: 4;
  @media (min-width: $screen-xs) {
    top: 13px;
  }
  input {
    float: right;
    clear: both;
  }
}