%icon-dimensions {
	$dimensions: 16px;
	&.icon {
		@include crds-icon-size(2);
		background-color: $cr-black;
		@for $i from 1 through 6 {
			&.icon-#{$i} {
				@include crds-icon-size($i);
			}
		}
		@each $name, $color in $cr-colors {
			&.cr-#{$name} {
				background-color: $color;
			}
		}
	}
}

%svg-common {
	-webkit-mask-image: url("assets/sprite.css.svg");
	@extend %icon-dimensions;

	.dark-theme & {
		filter: invert(75%);
	}
}

.svg-calendar {
	@extend %svg-common;
	-webkit-mask-position: 0 0;
	width: 230.286px;
	height: 248px;
}
.svg-check-circle {
	@extend %svg-common;
	-webkit-mask-position: 0 8.831908831908832%;
	width: 256px;
	height: 256px;
}
.svg-chevron-left {
	@extend %svg-common;
	-webkit-mask-position: 0 17.94871794871795%;
	width: 256px;
	height: 256px;
}
.svg-chevron-right {
	@extend %svg-common;
	-webkit-mask-position: 0 27.065527065527064%;
	width: 256px;
	height: 256px;
}
.svg-circle {
	@extend %svg-common;
	-webkit-mask-position: 0 36.18233618233618%;
	width: 256px;
	height: 256px;
}
.svg-circle-thin {
	@extend %svg-common;
	-webkit-mask-position: 0 45.2991452991453%;
	width: 256px;
	height: 256px;
}
.svg-facebook {
	@extend %svg-common;
	-webkit-mask-position: 0 54.41595441595442%;
	width: 256px;
	height: 256px;
}
.svg-github {
	@extend %svg-common;
	-webkit-mask-position: 0 63.53276353276353%;
	width: 256px;
	height: 256px;
}
.svg-instagram {
	@extend %svg-common;
	-webkit-mask-position: 0 72.64957264957265%;
	width: 256px;
	height: 256px;
}
.svg-twitter {
	@extend %svg-common;
	-webkit-mask-position: 0 81.76638176638177%;
	width: 256px;
	height: 256px;
}
.svg-usd {
	@extend %svg-common;
	-webkit-mask-position: 0 90.88319088319088%;
	width: 256px;
	height: 256px;
}
.svg-youtube {
	@extend %svg-common;
	-webkit-mask-position: 0 100%;
	width: 256px;
	height: 256px;
}
