%svg-common {
	background: url("assets/sprite.css.svg") no-repeat;
}

.svg-arrow-left9 {
	@extend %svg-common;
	background-position: 100% 0;
	width: 32px;
	height: 32px;
}

.svg-arrow-right9 {
	@extend %svg-common;
	background-position: 100% 1.8181818181818181%;
	width: 32px;
	height: 32px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 100% 3.6363636363636362%;
	width: 32px;
	height: 32px;
}

.svg-check-circle {
	@extend %svg-common;
	background-position: 100% 5.454545454545454%;
	width: 32px;
	height: 32px;
}

.svg-circle-thin {
	@extend %svg-common;
	background-position: 0 0;
	width: 1792px;
	height: 1792px;
}

