$fontUrl: '//d1tmclqz61gqwd.cloudfront.net/fonts/';

@font-face {
  font-family: 'sentinel';
  src: url('#{$fontUrl}sentinel-light.eot'); /* IE9 Compat Modes */
  src: url('#{$fontUrl}sentinel-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$fontUrl}sentinel-light.svg') format('svg'), /* Legacy iOS */
    url('#{$fontUrl}sentinel-light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('#{$fontUrl}sentinel-light.woff') format('woff'), /* Modern Browsers */
    url('#{$fontUrl}sentinel-light.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sentinel-italic';
  src: url('#{$fontUrl}sentinel-light-italic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontUrl}sentinel-light-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$fontUrl}sentinel-light-italic.svg') format('svg'), /* Legacy iOS */
    url('#{$fontUrl}sentinel-light-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('#{$fontUrl}sentinel-light-italic.woff') format('woff'), /* Modern Browsers */
    url('#{$fontUrl}sentinel-light-italic.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}