:root {
  font-size: $base-font-size;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $base-font-face;
  font-size: $base-font-size;
  font-weight: 300;
}


