:root {
  font-size: $base-font-size;
}

:focus {
  outline: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: $base-font-size;
  @extend .font-family-base;
}