@mixin border-bottom($width: 1px, $style: solid, $color: $underline-color) {
  border-bottom: $width $style $color;
}

@mixin alert($background, $border, $text) {
  background-color: $background;
  border-color: $border;
  color: $text;
}