$base-font-face: "acumin-pro", helvetica, arial, sans-serif;
$condensed-font-face: "acumin-pro-extra-condensed", sans-serif;

$base-font-size: 14px;

@mixin font-style($face: $base-font-face, $size: $base-font-size, $weight: normal) {
  font-family: $face;
  font-size: $size;
  font-weight: $weight;
}

.crds-page-header {
  @include font-style($condensed-font-face, 30px, 500);
  @include border-bottom;
  margin-bottom: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.crds-page-header--no-underline {
  @include font-style($condensed-font-face, 30px, 500);
  border-bottom: none;
  text-transform: uppercase;
}

.crds-section-header {
  @include font-style(null, 12px, 500);
  color: $cr-gray-dk;
  text-transform: uppercase;
}

hr {
  color: $underline-color;
}

.crds-help-link {
  color: $secondary-link-color;

  &:hover {
    color: darken($secondary-link-color, 20);
  }
}

a {
  color: $primary-link-color;
  text-decoration: none;

  &:hover {
    color: darken($primary-link-color, 20);
    text-decoration: underline;
  }
}

.crds-text-block--light {
  font-weight: 100;
}