@mixin crds-button-variant($color, $background, $border) {
  @include button-variant($color, $background, $border);
  &.active,
  &:active {
    background: $background;
  }

  &.btn-outline {
    border-width: 2px;
    color: $border;
    background: $btn-outline-bg;
    &:focus {
      color: $border;
      background: $btn-outline-bg;
    }
    &:hover {
      background: $btn-outline-hover-bg;
    }
  }
}