@mixin crds-button-variant($color, $background, $border) {
  @include button-variant($color, $background, $border);
  &.active,
  &:active {
    background: $background;
  }

  &.btn-outline {
    border-width: 2px;
    color: $border;
    background: $btn-outline-bg;
    &:focus {
      color: $border;
      background: $btn-outline-bg;
    }
    &:hover {
      background: $btn-outline-hover-bg;
    }
  }
  &.btn-no-outline {
    border-width: 2px;
    border-color: $btn-outline-bg;
    color: $border;
    background: $btn-outline-bg;
    .active,
    &:active,
    &:focus {
      color: $cr-white;
      background: $background;
      border-color: $background;
      box-shadow: none;
    }
    &:focus:hover {
      border-color: $border;
      background: $background;
      color: $color;
    }
    &:hover {
      background: $cr-white;
    }
  }
}