// Typography
$base-font-face: "acumin-pro", helvetica, arial, sans-serif;
$condensed-font-face: "acumin-pro-condensed", sans-serif;
$condensed-extra-font-face: "acumin-pro-extra-condensed", sans-serif;
$accent-font-face: "lexia", serif;
$base-font-size: 14px;

$cr-gray: rgba(151,151,151,1);           // #979797
$cr-gray-alpha: rgba(21,21,21,0.5);      // #8A8A8A
$cr-gray-dark: rgba(115,115,115,1);      // #737373
$cr-gray-darker: rgba(77,77,77,1);       // #4D4D4D
$cr-gray-light: rgba(205,205,205,1);     // #CDCDCD
$cr-gray-lighter: rgba(231,231,231,1);   // #E7E7E7
$cr-magenta: rgba(204,34,85,1);          // #CC2255
$cr-blue: rgba(59,110,143,1);            // #3B6E8F
$cr-cyan: rgba(7,149,227,1);             // #0795E3
$cr-cyan-lighter: rgba(15,168,238,1);    // #0FA8EE
$cr-white: rgba(255,255,255,1);          // #FFF
$cr-black: rgba(21,21,21,1);             // #151515

// Validation colors
$cr-danger: rgba(201,48,42,1); // #C9302A

// BS Overrides
$bootstrap-sass-asset-helper: true;
$text-color: $cr-gray-dark !default;
