.header {

  .container {
    margin-top: .625rem;
  }

  .navbar-brand.logo {
    margin-top: 0.25rem;
    color: $cr-black;
    svg {
      @include size(10.625rem, 1.5rem);
    }
  }

  // Main nav menu
  .nav > li {
    position: static;
    // Sign in and search adjust to fit the height of the other items.
    > a.btn {
      padding-top: .8125rem;
      padding-bottom: .8125rem;
    }
    > a.cta {
      padding-top: .65625rem;
      padding-bottom: .65625rem;
    }
    // Remove margins from all links in main nav.
    > a {
      margin: 0;
    }
    // Links are dark by default, with no bg
    > a:not(.cta) {
      color: $cr-gray-dark;
    }
    // Hover should alway show primary/light combo
    > a:hover:not(.cta) {
      color: $cr-white;
      background-color: $nav-link-hover-bg;
    }
    // Open links have primary bg and white text
    &.open > a:not(.cta) {
      color: $cr-white;
    }
    // When the menu is closed, hovering behavior should take precedence
    &:not(.open) > a:hover:focus:not(.cta) {
      background-color: $nav-link-hover-bg;
    }
    // Unopened, focused links have grey bg
    &:not(.open) > a:focus:not(.cta) {
      background-color: #eeeeee;
    }
  }

  // Dropdown menu container
  .dropdown-menu {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1.25rem 0;
    right: 0;
    top: 2.5rem;
    box-shadow: 0 6px 9pt $cr-gray-lighter;
    border-radius: $border-radius-small;
  }

  // Dropdown menu lists
  .dropdown-menu ul {
    @extend .list-unstyled;
    li a {
      display: block;
      padding: .1875rem 1.25rem;
      color: $cr-gray-dark;
      &:hover {
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }
    .dropdown-header {
      color: $cr-gray-dark;
      font-weight: 700;
    }
  }

  // Adds a background color to the featured section.
  .featured-row:before {
    display: block;
    @include position(absolute, 0 0 0 0);
    width: 25%;
    background: #eeeeee;
    content: "";
    z-index: -1;
  }

  // User profile menu
  .profile-menu {
    ul {
      padding: 0.3125rem 0;
    }
    .nav-profile-image {
      display: inline-block;
      @include size(2.25rem, 2.25rem);
      overflow: hidden;
      margin: 0.25rem;
      background-color: #f5f5f5;
      border: 2px solid $cr-gray-lighter;
      img {
        @include size(100%, 100%);
      }
    }
  }
}
